In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Inferential statistics - T-test & P-value

### Instructions

1. *One-tailed t-test* - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on average than the machine currently used. To test that hypothesis, the times each machine takes to pack ten cartons are recorded. The results are in seconds in the tables in the file `files_for_lab/machine.txt`.
   Assume that there is sufficient evidence to conduct the t-test, does the data provide sufficient evidence to show if one machine is better than the other?

2. *Matched Pairs Test* - In this challenge we will compare dependent samples of data describing our Pokemon (file `files_for_lab/pokemon.csv`). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment on your result.

## 1. One-tailed t-test

In [31]:
machine = pd.read_csv('files_for_lab/machine.txt', delimiter='\t', encoding='utf-16le')
machine.head()

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5

In [11]:
# We rename the columns to remove empty spaces

machine.columns = ["new_machine","old_machine"]
machine.columns

Index(['new_machine', 'old_machine'], dtype='object')

In [ ]:
# Hypothesis

# H0 -> New machine > old one
# H1 -> New machine < old one

In [13]:
# Run a one-tailed t-test
t_statistic, p_value = st.ttest_ind(machine['new_machine'], machine['old_machine'], alternative='less')

# Set significance level
alpha = 0.05

print("t-statistic:", t_statistic)
print("p-value:", p_value)

# Check if we reject the null hypothesis
if p_value < alpha:
    print("We reject the null hypothesis (H0). The new machine is slower.")
else:
    print("We do not reject the null hypothesis (H0). There is no significant evidence that the new machine is faster.")

t-statistic: -3.3972307061176026
p-value: 0.0016055712503872579
We reject the null hypothesis (H0). The new machine is slower.

## 2. Matched Pairs Test

In [17]:
pokemon = pd.read_csv("files_for_lab/pokemon.csv", index_col=0)
pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
# HO -> defense = attack
# H1 -> defense != attack

In [22]:
# We create the dataset with the "Attack" and "Defense" columns:
pokemon_new = pokemon[["Attack","Defense"]]
pokemon_new.head()

   Attack  Defense
#
1      49       49
2      62       63
3      82       83
3     100      123
4      52       43

In [23]:
# We add a new column with the differences, so that we can measure the mean of them

pokemon_new["Difference"] = pokemon_new["Attack"]-pokemon_new["Defense"]

C:\Users\e.sansebastian\AppData\Local\Temp\ipykernel_29056\1460520405.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon_new["Difference"] = pokemon_new["Attack"]-pokemon_new["Defense"]

In [24]:
pokemon_new.head()

   Attack  Defense  Difference
#
1      49       49           0
2      62       63          -1
3      82       83          -1
3     100      123         -23
4      52       43           9

In [25]:
# We create a sample of the df:

sample = pokemon_new.sample(30, random_state = 1)

In [26]:
sample.head()

     Attack  Defense  Difference
#
6       104       78          26
460      92       75          17
161      46       34          12
667      50       58          -8
224     105       75          30

In [27]:
# We calculate the mean and std of the Differences in the sample df:
sample_diff_mean, sample_diff_std = sample['Difference'].mean(), sample['Difference'].std(ddof=1)
sample_diff_mean, sample_diff_std

(2.8, 36.32079294288603)

In [28]:
t = sample_diff_mean / ( sample_diff_std / np.sqrt(sample.shape[0]) )
print("The mean of our samples differences is: {:.2f}".format(sample_diff_mean))
print("The standard deviation of our samples differences is: {:.2f}".format(sample_diff_std))
print("Our t statistics is: {:.2f}".format(t))

The mean of our samples differences is: 2.80
The standard deviation of our samples differences is: 36.32
Our t statistics is: 0.42

In [32]:
# We compute the critical values:

tc,tc2 = st.t.ppf(1-(0.05/2),df= sample.shape[0] - 1),st.t.ppf((0.05/2),df= sample.shape[0] - 1)
tc,tc2

(2.045229642132703, -2.0452296421327034)

In [ ]:
# Since our statistical value 0.42 is inbetween both critical values, we accept the H0 hypothesis.

# -2.0452296421327034 < 0.42 < 2.045229642132703

In [33]:
st.ttest_rel(sample['Attack'],sample['Defense'])

TtestResult(statistic=0.4222438544846934, pvalue=0.6759611742317202, df=29)

In [ ]:
# The p-value 0.67 is greater than alpha / 2 . Therefore we accept the hypothesis

## Inferential statistics - ANOVA

Note: The following lab is divided into 2 sections which represent activities 3 and 4.

## Part 1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on:
    - Null hypothesis
    - Alternate hypothesis
    - Level of significance
    - Test statistic
    - P-value
    - F table

### Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data `anova_lab_data.xlsx` file in the `files_for_lab` folder  

- State the null hypothesis
- State the alternate hypothesis
- What is the significance level
- What are the degrees of freedom of the model, error terms, and total DoF

Data were collected randomly and provided to you in the table as shown: [link to the image - Data](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.05/7.05-lab_data.png)


## Part 2

- In this section, use Python to conduct ANOVA.
- What conclusions can you draw from the experiment and why?

In [34]:
anova=pd.read_excel('files_for_lab/anova_lab_data.xlsx')

In [43]:
display(anova.head())
print(anova.shape)

   power  etching_rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

(15, 2)

In [39]:
# We clean the column names
anova.columns=["power","etching_rate"]

In [40]:
# We check the unique values on the power column:
anova["power"].unique()

array(['160 W', '180 W', '200 W'], dtype=object)

In [ ]:
# H0 etching rate mean = power variation
# H1 etching rate mean != power variation

In [47]:
# We group, compute the mean of the etching rate and add a column with the power level occurrences
group_anova = anova.groupby('power')['etching_rate'].agg(etching_rate_mean='mean',power_occurences='size').reset_index()
group_anova

   power  etching_rate_mean  power_occurences
0  160 W              5.792                 5
1  180 W              6.238                 5
2  200 W              8.318                 5

In [48]:
# In order to compute the F we proceed to calculate the S2t and the S2E

S2t = 0
for power in anova['power'].unique():
    ng = len(anova[anova['power'] == power])
    S2t  += ng * ( ( anova[anova['power'] == power]['etching_rate'].mean() - anova['etching_rate'].mean() ) ** 2)
S2t /= ( anova['power'].nunique() - 1 ) # Number of  K = groups/cities

print("The value of S2t is {:.2f}".format(S2t))

The value of S2t is 9.09

In [49]:
S2E = 0
for power in anova['power'].unique():
    for rate in anova[anova['power'] == power]['etching_rate']:
        S2E += ( rate - anova[anova['power'] == power]['etching_rate'].mean() ) ** 2
S2E /= ( len(anova) - anova['power'].nunique() )

print()
print("The value of S2E is {:.2f}".format(S2E))

The value of S2E is 0.25

In [50]:
# We calculate the value of F

F = S2t / S2E
print("The value of F is {:.2f}".format(F))

The value of F is 36.88

In [51]:
# We calculate the degees of freedom:

d1 = anova['power'].nunique() - 1
d2 = len(anova) - anova['power'].nunique()

print("Number of degrees of freedom d1: ",d1)
print("Number of degrees of freedom d2: ",d2)

Number of degrees of freedom d1:  2
Number of degrees of freedom d2:  12

In [55]:
# Probability of getting an F value lower or equal to our F:

In [54]:
st.f.cdf(F,dfn=d1, dfd=d2)

0.9999924934157276

In [53]:
1 - st.f.cdf(F,dfn=d1, dfd=d2)

7.5065842723986975e-06

In [ ]:
#Therefore, the probability to get a value bigger than F is:

# P(x>F)=1−P(x≤F)=7.5065842723986975e-06<0.05

In [ ]:
# We reject the hypothesis. There is a difference when changing the power level.